{{!-- <header id='header-wrapper'>
    <div class='header-container hMKwnH'>
        <div class='header-content'>
            <div class='row ant-row'>
                <div class='col-md-5 hMKwnH'>
                    <div class='logo'>
                        <img src='https://storage.googleapis.com/fe-production/icon_vxr_full.svg' alt="logo" />
                    </div>
                </div>
                <div class='col-md-4'>
                    <ul>
                        <li class='iMtEnK'><a href='abc'>Vé xe tết</a></li>
                        <li class='iMtEnK'><a href='abc'>Xe Limousine</a></li>
                        <li class='iMtEnK'><a href='abc'>Language</a></li>
                    </ul>
                </div>
                <div class='col-md-3'>
                    <div class='WrapInUpBtn'>

                        {{!-- {{#if login}} --}}
                        {{!-- <ul class="main-menu">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x"
                                        aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownId">
                                    <a class="dropdown-item" href="/user/profile"><i class="fa fa-user-circle"
                                            aria-hidden="true"></i> {{__ "User Account"}}</a>
                                    <a class="dropdown-item" href="/user/logout"><i class="fa fa-sign-out"
                                            aria-hidden="true"></i> {{__ "Sign Out"}}</a>
                                </div>
                            </li>
                        </ul> --}} --}}
                        {{!-- {{else}} --}}
                        {{!-- <div class='sisu'>
                            <button id='signinbtn' class='btn btn-primary ' onclick="OpenPopup()">
                                Đăng nhập
                            </button>
                            <div class='hidden-popup'>
                                <span id='tooltiptext' class='tooltiptext'>
                                    <div class='WrapIcon'>
                                        {{!-- <FontAwesomeIcon class='close' icon={faTimes} onClick={e=> ClosePopup()} /> --}}
                                        <i class="fa fa-times close" onclick="ClosePopup()"></i>
                                    </div>
                                    <div class='form-group custom-popup'>
                                        <div class='WrapInput'>
                                            <form method='post' action='index.html' class='login'>
                                                <p>
                                                    <label htmlFor='login'>Username:</label>
                                                    <input type='text' name='login' id='login' />
                                                </p>

                                                <p>
                                                    <label htmlFor='password'>Password:</label>
                                                    <input type='password' name='password' id='password' />
                                                </p>

                                                <p class='login-submit'>
                                                    <button type='submit' class='login-button'>
                                                        Login
                                                    </button>
                                                </p>

                                                <p class='forgot-password'>
                                                    <a href='a'>Forgot your password?</a>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class='sisu'>
                            <button class='btn btn-outline-primary'><a href="/users/signup">Đăng kí</a></button>
                        </div> --}}
                        {{!-- {{/if}} --}}

                    {{!-- </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    const OpenPopup = () => {
        let el = document.getElementById('tooltiptext')
        el.setAttribute('class', 'showpopup tooltiptext')
        console.log(el)
    }
    const ClosePopup = () => {
        let element = document.getElementById('tooltiptext')
        element.className = element.className.replace(/\bshowpopup\b/g, '')
    }
</script> --}}