.sortform {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}
.filterform {
  height: auto;
}
.productcard {
  position: relative;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}
.productcontainer {
  display: flex;
}
.productcontainer .image {
  width: 150px;
  height: 150px;
  background-size: cover;
  margin-right: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.productinfo {
  position: relative;
  width: calc(100% - 150px);
  min-height: 150px;
}

.price {
  position: absolute;
  top: 0px;
  right: 0px;
}
.tripContent .bus-info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.tripContent .bus-info > div {
  margin-right: 8px;
}
.from-to {
  display: flex;
  margin-top: 3.3rem;
}
.tripContent {
  color: rgb(72, 72, 72);
  font-size: 14px;
}
.tripContent .seat-type {
  top: 34px;
  position: absolute;
}
.tripContent .from-to .from-to-content {
  margin-left: 9px;
  position: relative;
  height: 74px;
}
.tripContent .from-to .from-to-content .content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 20px;
}
.tripContent .from-to .from-to-content .from {
  position: absolute;
  top: 0px;
}

.tripContent .from-to .from-to-content .content .place {
  font-size: 16px;
  width: 220px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tripContent .from-to .from-to-content .duration {
  position: absolute;
  top: 26px;
  font-size: 14px;
}

.tripContent .from-to .from-to-content .to {
  position: absolute;
  bottom: 2px;
}
.tripContent .from-to .from-to-content .content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 20px;
}
.tripCard {
  position: absolute;
  bottom: 0px;
  right: 0px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.tripCard .action {
  display: flex;
  align-items: flex-end;
}

.tripCard .action .btn-detail {
  color: rgb(0, 96, 196);
  font-size: 16px;
  height: 25px;
}
.tripCard .action .btn-booking {
  color: rgb(72, 72, 72);
  font-weight: 500;
  height: 35px;
  background: rgb(255, 199, 0);
  border-radius: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 8px 16px;
}

.tripCard .seat-available {
  text-align: right;
  font-size: 16px;
  color: rgb(72, 72, 72);
  margin-bottom: 8px;
}

.tripCard .action .btn-detail {
  color: rgb(0, 96, 196);
  font-size: 16px;
  height: 25px;
  padding-right: 10px;
}

/* product detail */
.priceDetail {
  text-align: right;
}

.noPadding {
  left: 25%;
}
.row--1 {
  padding: 0 27px !important;
}

.tripCard .action {
  display: block !important;
  text-align: right;
}

.customBtn {
  color: black !important;
}

/* disable a tag */
.disable {
  cursor: not-allowed;
  opacity: 0.5;
}

.disable > a {
  color: currentColor;
  display: inline-block; /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.tripContent .traveledDate {
  top: 34px;
  position: absolute;
}
.tripContent .traveledText {
  top: 64px;
  position: absolute;
}

.tripContent .traveledPrice {
  top: 94px;
  position: absolute;
}
.tripContent .traveledNote {
  top: 124px;
  position: absolute;
}

.tripContent .traveledCmt {
  top: 154px;
  position: absolute;
}

.traveledCard {
  position: relative;
  margin-bottom: 16px;
  /* height: 210px; */
  padding: 16px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

.traveledInput{
  color: black;
  border: 1px solid black;
  border-radius: 5px
}